 body{

	background-image: url(img/backgound.png);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
    background-repeat: no-repeat;
			background-size: cover;
}

*{
	margin: 0px;
	box-sizing: padding-box;
}

form{
	margin-top: 2%;
	border-radius: 10px;
	margin-left: 55%;
	height: 60%;
	width: 28%;
	padding: 2%;
	border: 2px solid #00B88C;
	border-color: #00B88C;
	 box-shadow: 40px 40px #00B88C;
	 position: absolute;


}

h2{
	color:#00B88C;
	text-align: center;
	margin-bottom: 45px;
	font-size: 300%;
	margin-top: 5%;
	
}

input{
	display: block;
	border: 2px solid #00B88C;
	width: 75%;
	padding: 8px 8px;
	margin: 10px auto;
	background: #2D2F34;
	margin-left: 35px;
	color: #00B88C;
	
}

label{
	color: #00B88C;
	font-size: 22px;
	padding: 10px;
}

button{
	background: #33FF36 ;
	padding: 10px 70px;
	color: black;
	border-radius: 30px;
	margin-left: 25%;
	border: none;
}

button:hover{

	opacity: .10;
}

.error {
	background: #2D2F34;
	color: red;
	padding: 5px;
	width: 95%;
	border-radius: 5px;
	margin: 20px auto;
}

h1{
	text-align: center;
	color: rgb(134, 3, 3);
}
.link{
    color:white;
    margin-left: 12%;
}
a{
	color:#33FF36 ;
	border: none;
	text-decoration: none;
}

a:hover{
	opacity: .7;
	 color: #D2CD6F;
     transition: .4s;
}
      
img{
	display: block;
  width: 47%;
   position: absolute;
   top: 55%;
   left: 72%;
   transform: translate(-50%,-50%);
} 
